
/*Основной блок контента*/
.header{
    padding-top: 30px;
    background-color: var(--heder-footer-fon-color);
}
/* блок логотипа и кнопки*/
.header__logo-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 280px;
    box-sizing: border-box;
    margin-bottom: 76px;
}

/* цвет для логопита*/
.max{
    color: var(--title-h2-color);
}

/* кнопки навигации*/
.header__navigation{
    margin-bottom: 42px;
}
.navigation__list{
    display: flex;
    justify-content: center;
    gap: 85px;
}

.navigation__link{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    z-index: 100;
}

.navigation__link:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--title-h2-color);
    transition-duration: .4s;
    transition-property: transform;
    transform: scaleX(0);
}

.navigation__link:hover:before{
    transform: scaleX(1);
}

/* основной контент в header*/
.header__hero{
    max-width: 1450px;
    padding: 198px 0 140px 12px;
    position: relative;
    left: -46px;
    background-image: url("../img/hero/hero.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto auto;
}
.hero__title{
    color: var(--title-h1-color);

}
.hero__text{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--inform-text-color);
    width: 325px;
    margin: 21px 0 86px 0;
}

.hero__img-stone{
    position: absolute;
    left: 0;
    top: -228px;
}




