main{
    background-color: var(--main-fon-color);
}

/* стили для секции about*/
.main__about{
    margin: 0;
    padding-top: 50px;
    background: url("../img/about.jpg");
    background-position: 98% 240px;
    background-repeat: no-repeat;
    background-size: 40%;
}

.title{
    text-align: center;
}
.about__list{
    margin-top: 44px;
    width: 762px;
}
.about__item{
    margin-bottom: 35px;
    position: relative;
}

.about__text{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--description-text-color);
}
.marker{
    margin-left: 20px;
}
.marker:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}

/* стили для секции about*/
.cards{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 100px;
    flex-wrap: wrap;
}

.adventages__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contacts-wrapper{
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: var(--heder-footer-fon-color);
}
.footer-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer__list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* стили для секции catalog*/
.main__catalog{
    padding-top: 50px;
}

.subtitle{
    margin-top: 42px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: var(--description-text-color);
}
.discription{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--description-text-color);
    width: 367px;
    margin: 0 auto;
}

.catalog__cards{
    margin-top: 54px;
}
.cards__product-title{
    margin-top: 23px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: var(--description-text-color);

}
/*выравнивание кнопки*/
.center{
    margin: 56px 45% 0 45%;
}


/* стили для секции adventages*/
.main__adventages{
    margin: 0;
    padding-top: 50px;
}
.adventages__list{
    margin-top: 65px;
    margin-bottom: 172px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: start;
}
.adventages__item{
    width: 300px;
    background: var(--cards-bacground);
}
.adventages__text-wrapper{
    padding: 60px 45px 0 45px;
}

.adventages__tex-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--description-text-color);
}
.adventages__tex-description{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--description-text-color);
}

.adventages h2{
    margin-bottom: 120px;
}
.adventages__map{
    width: 100%;
    height: 687px;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
/* стили для секции contacts*/
.main__contacts{
    padding-top: 70px;
}
.contacts-wrapper{
    margin-top: 60px;
}
.ddresses__item span{
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--description-text-color);
}

.ddresses__item p{
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
    color: var(--description-text-color);
}

/* стили для секции footer*/
.footer{
    padding: 30px 0 30px 17px;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.footer__link{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--inform-text-color);
}

.footer__img{
    position: relative;
    width: 144px;
    height: 40px;
}
.footer__img-logo{
    position: absolute;

}
@media (max-width: 1350px) {
    .adventages__map{
        background-size: 98%;
    }

}
@media (max-width: 1200px) {
    .about__list{
        margin-top: 44px;
        width: 600px;
    }
    .about__text{
        font-size: 16px;
        line-height: 20px;
    }
  .contacts-wrapper{
      flex-direction: column;
  }
  .adresses{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 10px;
      flex-wrap: wrap;
  }
  .footer__list{
      flex-direction: column;
      margin: 0 50px;
  }
}

.contacts-wrapper__map_mini{
    display: none;
}

@media (max-width: 992px) {
    .about__list{
        margin-top: 0;
        width: 100%;
    }
    .about__text{
        font-size: 14px;
        line-height: 18px;
    }
    .main__about{
        background-size: 100%;
    }
    .adventages__map{
        background-image: url("../img/maps-mini.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .contacts-wrapper__map{
        display: none;
    }
    .contacts-wrapper__map_mini{
        display: block;
    }
}

@media (max-width: 768px) {
    .adventages__map{
        background-image: url("../img/maps-mini2.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .footer__list{
        text-align: center;
    }
    .footer-wrapper{
        flex-direction: column;
        gap: 50px;
        align-content: center;

    }
}

@media (max-width: 576px) {
    button{
        padding: 18px 20px;
    }
    h2{
        font-size: 30px;
    }
    .adventages__tex-description{
        font-size: 20px;
    }
    .adventages__map{
        background-image: url("../img/maps-mini3.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .discription{
        width: 267px;
}

}



